<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="icon" href="/img/404.png">
</head>
<body>
    {{>header}}
    <p>{{errorMessage}}</p>
    <br>    
    {{>footer}}
    
</body>
</html>