<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="icon" href="/img/about.png">
</head>

<body>
    <div class="main-content">
    {{>header}}
    {{!-- header.hbs loaded --}}
    <p>
        This site is created by om dev. it uses data from mapbox and weather stack.
    </p>


<div class="container">
    <img src="../img/me.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Hello World</div>
    </div>
</div>

    
    {{!-- <img class="portrait" src="../img/me.jpg"> --}}
    </div>
    {{>footer}}
    
</body>

</html>